@charset "uft-8";


@import url(https://photos.google.com/photo/AF1QipMwwxhBfN2-FGjz5i3JgCT00pOFYbacVvwI_LjZ);

*{
    margin: 0;
   
}
header{
    background-color: gray;
    width: auto;
    height: auto;
    text-align: center;
    

}
.h1{
    padding: 40px;
}
header p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 15px;
}
nav a{
    text-decoration: none;
    text-align: left;
    position: relative;
    font-weight: bolder;
    color: black;
    ;
}
nav a:hover{
    text-transform: uppercase;
    font-weight: lighter;
    color: red;
    transform-style: preserve-3d;

}
nav a:active{
    font-style: italic;
    color: blue;
    font-size: xx-large;
}
nav a:after{
    color: white;
    text-decoration: underline;

}
main {
    width: auto;
    text-align: center;
    background-color: rgb(243, 159, 149);
    
}
main h2{
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;

}
main p{
    font-weight: bold;
    
}
.imag{
    position: relative;
    display: inline-block;
    width: 96vw;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 5px;

    box-shadow: 0px -2px 20px 2px black;
}
footer{
  background-color: rgba(0, 0, 0, 0.233);
  text-align: center;
  vertical-align: top;
  font-size: 14px;
  font-weight: bold;
  padding: 20px;
}